
build
.vs
*.idb
*.ilk
*.pdb
*.exp
*.lib
*.pyc
*.dll
*.exe
*.log
*.ax
*crash.dmp
!interface.dll
!component.dll
interface.lib
component.lib

qml
cmakePresets.json
cmakeUserPresets.json
cmake-build-debug
cmake-build-release
python310
.idea
mediaservice
sqldrivers
imageformats
theme
temp
*.eos
*.avi
*.wav
*.mp4
*.mp3
# bin/opencv_img_hash490d.lib
# bin/opencv_img_hash490d.dll
# bin/opencv_world490d.lib
# bin/opencv_world490d.dll
# bin/opencv_world490.lib
# bin/opencv_world490d.dll